  <div id="container">
      <mat-card id="header">
            <mat-card-title>Rapportage</mat-card-title> 
          <mat-card-subtitle>Overzicht klachten</mat-card-subtitle>
        
      </mat-card>
    
      <mat-card class="stat">
        <mat-card-subtitle>
            <button mat-mini-fab>
                <i class="material-icons">
                    assessment
                    </i>
              </button>
          Aantal klachten per status
        </mat-card-subtitle>
        <mat-divider></mat-divider> <br>
        <div [hidden]="!chart">
            <canvas id="canvas">
              {{canvas}}
            </canvas>
          </div>
        </mat-card>

        <mat-card class="stat">
            <mat-card-subtitle>
                <button mat-mini-fab>
                    <i class="material-icons">
                        assessment
                        </i>
                  </button>
              Aantal klachten per maand van het jaar 
            </mat-card-subtitle>
            <mat-divider></mat-divider> <br>

            <div [hidden]="!chart2">
                <canvas id="canvas2">
                  {{canvas}}
                </canvas>
              </div>
            
            </mat-card>

          <mat-card class="stat">
              <mat-card-subtitle>
                  <button mat-mini-fab>
                      <i class="material-icons">
                          assessment
                          </i>
                    </button>
                Meeste recente klachten
              </mat-card-subtitle>
              <mat-divider></mat-divider> <br>
              <div>
                  <mat-list>
                      <mat-list-item *ngFor='let klacht of newKlachten'>
                          <mat-icon  mat-list-icon>insert_drive_file</mat-icon>
                        <h4 mat-line> {{klacht.klachtennummer}}</h4>
                        <p mat-line> {{klacht.datumbegin}}</p>
                        <button mat-raised-button color="warn" routerLink="../details/{{klacht.klachtennummer}}">
                            Details
                        </button>
                      </mat-list-item>
                    </mat-list>
              </div>
              </mat-card>

              <mat-card class="stat">
                  <mat-card-subtitle>
                      <button mat-mini-fab>
                          <i class="material-icons">
                              assessment
                              </i>
                        </button>
                    Langst openstaande klachten
                  </mat-card-subtitle>
                  <mat-divider></mat-divider> <br>
                  <div>
                      <mat-list>
                          <mat-list-item *ngFor='let klacht of oldKlachten'>
                              <mat-icon mat-list-icon>insert_drive_file</mat-icon>
                            <h4 mat-line> {{klacht.klachtennummer}}</h4>
                            <p mat-line> {{klacht.datumbegin}}</p>
                            <button mat-raised-button color="accent" routerLink="../details/{{klacht.klachtennummer}}">
                                Details
                            </button>
                          </mat-list-item>
                        </mat-list>
                    </div>
                  </mat-card>
    
      </div>