<div id='container'>

    <mat-card id='header'>
      <mat-card-title>
          Klachten
      </mat-card-title>
      <mat-card-subtitle>
        Overzicht van opgeloste en openstaande klachten 
      </mat-card-subtitle>
       
          <mat-form-field>
            <input [(ngModel)]="filter" (input)="filterKlachten($event)" type="text" placeholder="Filter op merk" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete  (optionSelected)="filterKlachten($event)" autoActiveFirstOption #auto="matAutocomplete">
              <mat-option  *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field> 
            <mat-select placeholder="Status"  [(ngModel)]="status" (ngModelChange)="filterKlachten($event)">
              <mat-option [value]=null >
                --
              </mat-option>
              <mat-option [value]=true>
                Openstaand
              </mat-option>
              <mat-option [value]=false>
                Afgerond
              </mat-option>
            </mat-select>
            <br>
          </mat-form-field>
          <button color="primary"  cdkFocusInitial mat-raised-button *ngIf='klachten$' (click)='addKlachtDialog()'>
            Nieuwe klacht toevoegen
            <!-- 
              Open modal => Klacht toevoegen met nieuwe design.
              Of uitsluitend via header knop toevoegen van klachten.
            -->
          </button>

          <mat-divider></mat-divider> <br><br>

          
    <mat-table [dataSource]="klachten$" class="mat-elevation-z8">



        <!-- Position Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let element "> 
              <mat-icon  *ngIf='element.s; else close' color="warn" mat-list-icon>close</mat-icon>
              <ng-template #close> 
                  <mat-icon color="primary" mat-list-icon>check</mat-icon> 
              </ng-template>
            </mat-cell>
          </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="Klachtennummer">
          <mat-header-cell *matHeaderCellDef> Klachtennummer </mat-header-cell>
          <mat-cell *matCellDef="let element "> {{element.klachtennummer}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Datum">
          <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.datumbegin | date}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Merknaam">
          <mat-header-cell *matHeaderCellDef> Merknaam </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.merknaam}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Omschrijving">
          <mat-header-cell *matHeaderCellDef> Omschrijving </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            
            <span class='leegOmschrijving' *ngIf='!element.klachtenomschrijving'>(leeg)</span>
            {{element.klachtenomschrijving}}
            
          </mat-cell>
        </ng-container>

 
        <ng-container matColumnDef="mailKlant">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button [disabled]="!element.mailKlant" mat-mini-fab 
              matTooltip="Klant is op de hoogte gesteld!" matTooltipPosition="above" >
                  <mat-icon>email</mat-icon>
                </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="klachtIngediend">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <button mat-mini-fab [disabled]="!element.klachtIngediend"
                matTooltip="Klacht is ingediend bij de leverancier!" matTooltipPosition="above" >
                    <mat-icon>assignment</mat-icon>
                  </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="omgeruild">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                  <button mat-mini-fab [disabled]="!element.omgeruild"
                  matTooltip="Product is omgeruild!" matTooltipPosition="above" >
                      <mat-icon>swap_horiz</mat-icon>
                    </button>
              </mat-cell>
            </ng-container>
    

        <!-- Symbol Column -->
        <ng-container matColumnDef="menu">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let element">
            
                <button (click)='openMenu($event)' mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button (click)='changeOpgelost($event, element, $this)' mat-menu-item>
                      <mat-icon>autorenew</mat-icon>
                    Wijzig status
                    </button>
                    <button (click)='deleteKlacht($event, element)' mat-menu-item>
                      <mat-icon >delete</mat-icon>
                      Verwijder klacht
                    </button>
                  </mat-menu>
            
            </mat-cell>
          </ng-container>
              
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row matTooltip="Bekijk klacht" matTooltipPosition="left"  *matRowDef="let row; columns: displayedColumns;"
         (click)="selectRow(row)"
         ></mat-row>
      </mat-table>
      
<!--
          <mat-nav-list >
              <mat-spinner *ngIf='!klachten$'></mat-spinner>
              <div *ngIf='klachten$'>
                  <div *ngIf='klachten$.length == 0'>
                      Er zijn nog géén klachten geregistreerd! <button  routerLink="toevoegen"  mat-raised-button color="primary"> Voeg een klacht toe</button>
                  </div>
              </div>

              <a  matTooltip="Bekijk klacht" matTooltipPosition="left"
                  mat-list-item *ngFor='let klacht of klachten$' routerLink="details/{{klacht.klachtennummer}}">
                 
                <h4 mat-line> <b>{{klacht.klachtennummer}}</b>  </h4>
                <p mat-line>
                  {{klacht.merknaam}} <span *ngIf='klacht.klachtenomschrijving'> - {{klacht.klachtenomschrijving}}</span> <br> 
                  <i>{{klacht.datumbegin | date}} </i> 
                </p>
                    <button  (click)='changeOpgelost($event, klacht)' mat-icon-button>
                        <mat-icon matTooltip="Wijzig status" matTooltipPosition="above" mat-list-icon>autorenew</mat-icon> 
                      </button>
                <button  (click)='deleteKlacht($event, klacht)' mat-icon-button>
                    <mat-icon matTooltip="Verwijder klacht {{klacht.klachtnummer}}" matTooltipPosition="above" mat-list-icon>delete</mat-icon> 
                  </button>
              </a>
            </mat-nav-list>
        -->    
    </mat-card>

  </div>