
/*mat-card{
    margin-bottom:5px;
}

mat-form-field{
    padding-right:20px;
}

.klacht{
    width:20%;
    float: left;
    display: block;
    margin: 8px !important;
}
*/
.klacht mat-card-subtitle, .klacht mat-card-title{
    text-align: center;
}

.material-icons{
    float:left;
}

mat-form-field{
    padding-right:20px;
}

mat-card{
    margin-bottom: 20px;
    margin-right:20px;
}

mat-card-subtitle button{
    margin-right: 15px;
}


#container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction:row;
}


.klacht{
    order: 3;
    flex-basis: 20%;

}

#header{
    order: 1;

    flex-wrap: wrap;
    width:100%;  
}

#klachtenContent
{

    display: flex;
    flex-basis: 100%;
}

mat-spinner{
    margin: auto;
    order: 2;
    display: block;
    width: 100%;
}


.mat-elevation-z8{
    box-shadow: none !important;
}

.leegOmschrijving
{
    color: lightgray;
}

.mat-row:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.mat-column-menu,
.mat-column-status {
  max-width: 30px;
}

.mat-column-Merknaam{
    max-width: 200px;
}
.mat-column-Klachtennummer,
.mat-column-Datum {
  max-width: 150px;
}

mat-table{
    text-align: center;
}