<nav>
  <ul *ngIf='currentUrl'>
    <li  matTooltip="Overzicht klachten" matTooltipPosition="right">
      <a routerLink="" [class.activated]="currentUrl == '/' || currentUrl.includes('details')">
        <i 
        class="material-icons">format_list_bulleted
      </i>
      </a>
    </li>
    <li (click)='openAddKlacht()' matTooltip="Nieuwe klacht toevoegen" matTooltipPosition="right">
      <a [class.activated]="currentUrl == '/toevoegen' ">
        <i class="material-icons">playlist_add</i>
      </a>
    </li>
    <li matTooltip="Overzicht merken" matTooltipPosition="right">
      <a  routerLink="/merken" [class.activated]="currentUrl == '/merken'">
        <i class="material-icons">business</i>
      </a>
    </li>   
    <!--li matTooltip="Overzicht klanten" matTooltipPosition="right">
        <a  routerLink="/klanten" [class.activated]="currentUrl == '/klanten'">
          <i class="material-icons">person</i>
        </a>
      </li-->
      <li matTooltip="Overzicht medewerkers" matTooltipPosition="right" >
        <a  routerLink="/medewerkers" [class.activated]="currentUrl.includes('medewerkers') ">
          <i class="material-icons">face</i>
        </a>
      </li>
      <li matTooltip="Rapportage" matTooltipPosition="right" >
        <a  routerLink="/reporting" [class.activated]="currentUrl == '/reporting'">
          <i class="material-icons">trending_up</i>
        </a>
      </li>
  </ul>
</nav>