<h1 mat-dialog-title>Vervolgacties</h1>
<div mat-dialog-content>
De klacht is succesvol geregistreerd! <br> De volgende acties kunnen op dit moment worden verricht<br>

        <button [disabled]="!klacht.mailKlant" mat-mini-fab 
        matTooltip="Klant is op de hoogte gesteld!" matTooltipPosition="above" >
            <mat-icon>email</mat-icon>
          </button>



          <button mat-mini-fab [disabled]="!klacht.klachtIngediend"
          matTooltip="Klacht is ingediend bij de leverancier!" matTooltipPosition="above" >
              <mat-icon>assignment</mat-icon>
            </button>

<br> {{klacht | json}}
  <div class='acties'>
      <button (click)="emailLeverancier()" mat-raised-button color="primary">
          <i class="material-icons">
              assignment
          </i>
        Dien klacht in bij {{klacht.merknaam}}
      </button> <br>
  
      <button (click)="emailKlant()" mat-raised-button color="primary">
          <i class="material-icons">
              email
          </i>
        Verstuur bevestiging garantie aanvraag naar {{klant.voornaam}}
      </button> <br>     
  </div>
</div>

<mat-dialog-actions align="end">
  <button (click)='back()' mat-button>Terug</button>
</mat-dialog-actions>

