<div class="container">
<mat-card id="header">
    <mat-card-title>
        Details klacht
    </mat-card-title>
    <mat-card-subtitle *ngIf="klacht$">
      Informatie over klacht {{klacht$.klachtennummer}}
    </mat-card-subtitle>
  </mat-card>

  <mat-spinner *ngIf='!klacht$; else klacht'></mat-spinner>
<mat-card id="klacht" *ngIf="klacht$">
    <mat-card-header>
      <mat-card-subtitle>
          <button mat-mini-fab color="warn">
              <i class="material-icons">
                  insert_drive_file
                  </i>
            </button>
        Klacht</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
   
    <mat-card-content *ngIf='merk$' >
        <br>
          <mat-form-field>
            
            <input disabled matInput value="{{klacht$.klachtennummer}}" placeholder="Klachtennummer">
            </mat-form-field>      
           <br>
           <mat-form-field>
              <input [disabled]='!editMode' maxlength="200" [(ngModel)]="klacht$.klachtenomschrijving" matInput placeholder="Klachtenomschrijving">
              <mat-hint *ngIf='editMode'>{{klacht$.klachtenomschrijving.length}} / 200</mat-hint>   
            </mat-form-field>
            <br>
           <mat-form-field *ngIf="merk$">
              <input disabled [(ngModel)]="merk$.merknaam" matInput placeholder="Merk">
            </mat-form-field>     
            <br> 
            <button (click)="emailLeverancier(klacht$,klant$,merk$)" mat-raised-button color="primary">

              Genereer een formulier
              <i class="material-icons">
                assignment
            </i>
            </button>
              <a target="_blank" href='https://www.flowsportsgroup.com/customer/account/login/'>
              <button  *ngIf='merk$.merknaam == "Flow Fitness" ' mat-raised-button color="primary">

                Website van Flow Fitness
                <i class="material-icons">
                  send
              </i>
              </button>
              </a>
             <br> 
            <br>
              <mat-form-field>
                <input disabled [(ngModel)]="klacht$.datumbegin" matInput placeholder="Meldingsdatum">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [disabled]='!editMode' maxlength="50" [(ngModel)]="klacht$.productNaam" matInput placeholder="Naam product">
                <mat-hint *ngIf='editMode'>{{klacht$.productNaam.length}} / 50</mat-hint>   
              </mat-form-field>   
              <br>
              <mat-form-field>
                <input [disabled]='!editMode' maxlength="50" [(ngModel)]="klacht$.productNummer" matInput placeholder="Productnummer">
                <mat-hint *ngIf='editMode'>{{klacht$.productNummer.length}} / 50</mat-hint>                 
              </mat-form-field>   
              <br>
              <mat-form-field>
                <input [disabled]='!editMode' maxlength="50" [(ngModel)]="klacht$.serienummer" matInput placeholder="Serienummer">
                <mat-hint *ngIf='editMode'>{{klacht$.serienummer.length}} / 50</mat-hint>   
              </mat-form-field>  
              <br>
              <mat-form-field>
                <input [disabled]='!editMode' maxlength="50" [(ngModel)]="klacht$.defectonderdeel" matInput placeholder="Defect Onderdeel">
                <mat-hint *ngIf='editMode'>{{klacht$.defectonderdeel.length}} / 50</mat-hint>   
              </mat-form-field>  
              <br>
              <mat-form-field>
                <input [disabled]='!editMode' maxlength="50" [(ngModel)]="klacht$.ordernummer" matInput placeholder="Ordernummer">
                <mat-hint *ngIf='editMode'>{{klacht$.ordernummer.length}} / 50</mat-hint>   
              </mat-form-field>  
              <br> 
  
              <br> 

              <div *ngIf='!editMode'>
                  <span *ngIf="klacht$.s==1;else isOpgelost"> 
                  
                      <button (click)='changeOpgelost(klacht$)' mat-raised-button color="warn">
                        Open
                            <i class="material-icons">
                                autorenew
                            </i>    
                          </button>      
                
                      </span>    
                    <ng-template #isOpgelost> 
                        <button (click)='changeOpgelost(klacht$)' mat-raised-button color="primary">
                          Opgelost 
                            <i class="material-icons">
                                autorenew
                            </i>    
                          </button>    
                    </ng-template> 
                  <button color='accent' mat-raised-button (click)='switchEditMode()'>
                      Wijzig klacht
                      <i class="material-icons">
                        edit
                      </i>
                    </button>
                  <button mat-button (click)='deleteKlacht()'>
                    Klacht verwijderen
                    <i class="material-icons">
                      delete
                    </i>
                  </button>
              </div>
              <div *ngIf='editMode'>
                  <button color='primary' mat-raised-button (click)='saveEdit()'>
                      Wijziging opslaan
                      <i class="material-icons">
                        check
                      </i>
                    </button>
                  <button mat-button (click)='annuleerEdit()'>
                    Annuleren
                    <i class="material-icons">
                      delete
                    </i>
                  </button>
              </div>

              <br>
    </mat-card-content>
  </mat-card>

<mat-card id="klant" *ngIf="klant$">
  <mat-card-header>
    <mat-card-subtitle>
        <button mat-mini-fab>
            <i class="material-icons">
                person
                </i>
          </button>
      Klant</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content >
      <br>
          <mat-form-field>
              <input disabled [(ngModel)]="klant$.voornaam" matInput placeholder="Klantnaam">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input disabled [(ngModel)]="klant$.adres" matInput placeholder="Klantpostcode">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input disabled [(ngModel)]="klant$.postcode" matInput placeholder="Postcode">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input disabled [(ngModel)]="klant$.woonplaats" matInput placeholder="Woonplaats">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input disabled [(ngModel)]="klant$.telefoonnummer" matInput placeholder="Telefoon">
            </mat-form-field>      
            <br>
            <mat-form-field>
              <input disabled [(ngModel)]="klant$.mobielnummer" matInput placeholder="Mobiel">
            </mat-form-field>   
            <br>
            <mat-form-field>
              <input disabled [(ngModel)]="klant$.email" matInput placeholder="Email">
            </mat-form-field>  <br>
            <button *ngIf="klant$.email" mat-raised-button color="accent" (click)="emailKlant(klacht$, klant$)">
                <i class="material-icons">
                    email
                </i>
              Stuur e-mail naar {{klant$.voornaam}}</button>
  </mat-card-content>
</mat-card>
<mat-card class="acties">
    <mat-card-subtitle>
        <button mat-mini-fab color="primary">
            <i class="material-icons">
                speaker_notes
                </i>
          </button>
      Acties
    </mat-card-subtitle>
    <mat-divider></mat-divider> <br>
    <mat-list>
        <mat-list-item *ngFor="let actie of acties$">
            <button  (click)='deleteActie(actie)' mat-icon-button>
                <i class="material-icons">delete</i>
              </button>
          <h4 mat-line>{{actie.klantnaam}}</h4>
          <p mat-line> {{actie.actie}}</p>
          <p mat-line> {{actie.datum | date}} </p>
        </mat-list-item>
      </mat-list>
      <mat-card-actions>
        <button (click)='actieToevoegen()' mat-raised-button color="primary">Actie toevoegen</button>
      </mat-card-actions>
    </mat-card >
    
    <mat-card class="checklist" *ngIf='klacht$ && merk$'>
        <mat-card-subtitle>
            <button mat-mini-fab color="primary">
                <i class="material-icons">
                    check
                    </i>
              </button>
          Checklist
        </mat-card-subtitle>
        <mat-divider></mat-divider> <br>
        <mat-checkbox [(ngModel)]="klacht$.mailKlant">Mail verstuurd naar de klant </mat-checkbox> <br>
        <mat-checkbox [(ngModel)]="klacht$.klachtIngediend">Klacht ingediend bij {{merk$.merknaam}}</mat-checkbox> <br>
        <mat-checkbox [(ngModel)]="klacht$.omgeruild">Product is omgeruild</mat-checkbox>
        
        <mat-card-actions>
            <button (click)='updateChecklist()' mat-raised-button color="primary">Update checklist</button>
          </mat-card-actions>
      </mat-card >
</div>

<script>
    let nChecked = 0;
    let deleteButton = document.getElementById('deleteMulitpleButton');
    let listLossCheckButtons = document.getElementsByClassName('isLossed');
    let filterBox =  document.getElementById("selectAllLosses");

    document.getElementById("lossesForm").addEventListener("submit", handleMultipleLosses);

    function handleMultipleLosses(event){
       for(let i = 0 ; i<listLossCheckButtons.length;i++){
          if(listLossCheckButtons[i].checked == true) nChecked ++;
        }

       if(getCheckedCount() == 0){
          alert("Er zijn geen verliezen geselecteerd!");
          event.preventDefault();
        }
        else{
           isConfirmed = confirm("Weet u zeker dat u de geselecteerde verliezen wilt verwijderen? \nDe volgende verliezen zijn geselecteerd:\n"+ getCheckedIds())
           if(!isConfirmed) event.preventDefault()
        }
     }

    function getCheckedCount(){
      let nCount = 0;
       for(let i = 0 ; i<listLossCheckButtons.length;i++){
          if(listLossCheckButtons[i].checked == true) nCount ++;
        }
      return nCount;
    }

    function getCheckedIds(){
    checkedIds = [];
       for(let i = 0 ; i<listLossCheckButtons.length;i++){
          if(listLossCheckButtons[i].checked == true) checkedIds.push(listLossCheckButtons[i].name)
        }
      return checkedIds;
    }


    filterBox.addEventListener("click", function(event) {
        boxes = listLossCheckButtons;
        for(let i = 0 ; i<boxes.length;i++){
            boxes[i].checked =  filterBox.checked;
        }
    })
</script>