<h1 mat-dialog-title>Klacht toevoegen</h1>
<div mat-dialog-content>
  Vul alle verplichte velden in*
  </div>
    <mat-divider></mat-divider>
    <br>

    
  {{klacht | json}}

    <mat-form-field *ngIf='!loadingKlanten; else loadingKlantenTemp' color="accent">
        <mat-select   [(ngModel)]="klacht.klant"    placeholder="Klant" required>
          <mat-option   *ngFor='let klant of klanten$' [value]="klant"> {{klant.voornaam}} | {{klant.email}} </mat-option>
        </mat-select>         
      </mat-form-field>
      <ng-template #loadingKlantenTemp>
          <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
          <span class='msgLoading'>Bezig met het inladen van klanten . . .</span>
          <br>
          <br>
      </ng-template>
      
      <mat-form-field *ngIf='!loadingMerken; else loadingMerkenTemp' color="warn">
         <mat-select  [(ngModel)]="klacht.MerkType"    placeholder="Merk *">
          <mat-option required *ngFor='let merk of merken'  [value]="merk"> {{merk.merknaam}} </mat-option>
        </mat-select>     

      </mat-form-field> 
      <ng-template #loadingMerkenTemp>
          <mat-progress-bar mode="query" color="warn"></mat-progress-bar>
          <span class='msgLoading'>Bezig met het inladen van merken . . .</span>  
          <br>
      </ng-template>
      <br>
      <mat-form-field color="warn">
        <input [(ngModel)]="klacht.productNaam" matInput placeholder="Naam product">
      </mat-form-field>
      <br>
      <mat-form-field color="warn">
          <input [(ngModel)]="klacht.productNummer" matInput placeholder="Productnummer">
          <mat-hint>Bijvoorbeeld PFEVEL95910</mat-hint>   
        </mat-form-field>
      <br>
      <div *ngIf="klacht.MerkType.serienummerVerplicht ==  1">
        <mat-form-field color="warn" >
          <input [(ngModel)]="klacht.serienummer" matInput placeholder="Serienummer *">
          <mat-hint>Bijvoorbeeld N° Serie S24G03848</mat-hint>   
        </mat-form-field>
      </div>
    
      <mat-form-field color="warn">
        <input [(ngModel)]="klacht.defectOnderdeel" matInput placeholder="Defect onderdeel">
        <mat-hint>Bij defect onderdeel: onderdeelnaam en nummer (staat in de producthandleiding)</mat-hint>   
      </mat-form-field>
      <br>
      <mat-form-field color="warn">
          <input [(ngModel)]="klacht.ordernummer" matInput placeholder="Ordernummer">
        </mat-form-field>
        <br>
      <mat-form-field color="warn">
          <input maxlength="200" [(ngModel)]="klacht.klachtenomschrijving" matInput placeholder="Klachtenomschrijving">
          <mat-hint >{{klacht.klachtenomschrijving.length}} / 200</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field color="warn">
            <input [(ngModel)]="klacht.aankoopdatum" matInput [matDatepicker]="Aankoopdatum" placeholder="Aankoopdatum *" >
            <mat-datepicker-toggle matSuffix [for]="Aankoopdatum"></mat-datepicker-toggle>
            <mat-datepicker touchUi #Aankoopdatum color="warn"></mat-datepicker>
            <mat-hint>dd/mm/yyyy</mat-hint>   
          </mat-form-field>
          <br>
          <mat-form-field color="warn">
            <mat-select ng-disabled='isSaving' [(ngModel)]="klacht.medewerkerId"    placeholder="Medewerker" required>
              <mat-option *ngFor='let mw of medewerkers' [value]="mw.medewerkerId"> {{mw.voornaam}} {{mw.achternaam}} </mat-option>
            </mat-select>         
          </mat-form-field>

          <div mat-dialog-actions>
              <button class='addButton' (click)="addKlacht()" mat-raised-button color="primary"> Klacht registreren</button>
              <mat-progress-bar *ngIf='isSaving' mode="buffer"></mat-progress-bar>
              <br>

              <button class='addButton'  mat-raised-button (click)="sluiten()">Terug</button>
              <!--button mat-button (click)="copy()">Copy tabel</button-->
            </div>
