mat-card{
    margin-bottom: 20px;
}

mat-card-subtitle button{
    margin-right: 15px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    justify-content: space-evenly;
    align-content:flex-start;
}

#klacht{
 
    flex-basis: 45%;
    flex-grow: 1;
    order:1;
}

#klant{
    flex-grow: 1;
    flex-basis: 45%;
    order:2;
}

.acties{
    flex-basis: 100%;
    order:3;
}

#header{
    flex-basis: 100%;
}

mat-form-field{
    min-width: 97% !important;
}

mat-card
{
    margin-right: 10px;
}


.addKlachtDialog{
    background-color: pink !important;
    color:green !important;
}

.addButton{
    min-width: 100% !important;
    margin: 3px 0px;
}

.msgLoading
{
    color: lightgray;
    text-align: center !important;
}