<mat-card-title>
  Nieuwe actie
</mat-card-title>
<mat-divider></mat-divider> <br>
<mat-form-field>
    <mat-select [(ngModel)]="actie.klantnaam"    placeholder="Medewerker" required>
        <mat-option *ngFor='let mw of medewerkers' [value]="mw.voornaam + ' ' + mw.achternaam"> {{mw.voornaam}} {{mw.achternaam}} </mat-option>
      </mat-select>
  
  </mat-form-field>
    <mat-form-field>
        <input [(ngModel)]="actie.actie"  matInput placeholder="Omschrijving" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option  value="E-mail verstuurd naar klant">
              E-mail verstuurd naar klant
          </mat-option>
          <mat-option  value="E-mail verstuurd naar leverancier">
              Klacht ingediend bij {{merknaam}}
          </mat-option>
          <mat-option  value="E-mail verstuurd naar leverancier">
              Product omgewisseld
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> <br>
      <button (click)="addActie()" mat-raised-button color="primary"> Toevoegen</button>
